In [313]:
# # Download the dataset and import it into Python
import xlrd
import pandas as pd
import numpy as np
import re

shark_attacks_df = pd.read_excel('GSAF5.xls')
display(shark_attacks_df.head())

# shark_attacks_df.rename(columns='Species':'species')
display(shark_attacks_df.columns)

country_df = pd.read_excel('country_clean.xls')
display(country_df.head())

df=pd.concat([shark_attacks_df, country_df], axis=1)
display(df.columns)
# Cleaning DataFrame
#Chose the columns we will be working with
df = df[['Date', 'Year', 'Type', 'Country', 'State', 'Location','Activity','Sex', 'Age', 'Injury','Time','Species ','Country_clean']] 
display(df)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,NaN,...,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Lauren O'Neill,F,29,...,Bull shark,"Nine News, 12/31/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,...,NaN,"Caribbean Loop News, 1/15;2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,...,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

         Country_clean Unnamed: 1 Unnamed: 2
0                india        NaN        NaN
1  trinidad and tobago        NaN        NaN
2            australia        NaN        NaN
3              bahamas        NaN        NaN
4            australia        NaN        NaN

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22', 'Country_clean',
       'Unnamed: 1', 'Unnamed: 2'],
      dtype='object')

,Date,Year,Type,Country,State,Location,Activity,Sex,Age,Injury,Time,Species,Country_clean
0,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,32,Calf of lower left leg injured,NaN,"Bull shark, 7'",india
1,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,M,NaN,Shoulder bitten,06h30,Blacktip reef shark,trinidad and tobago
2,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,F,29,Right leg bitten,20h00,Bull shark,australia
3,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,M,10,Right leg injured,16h00,NaN,bahamas
4,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,M,64,Leg bitten,13h00,White shark,australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [314]:
import poor_bruce as pb
# clean columns titles --> remove spaces & lower cases
df=pb.clean_columns_titles(df)
# drop the null value rows
df=pb.drop_null_values(df)
# format column year
df=pb.format_year(df)
# filtered df
filtered_df=pb.filter_year(df)
filtered_df=pb.format_date(filtered_df)
# filtered_df=pb.create_month(filtered_df)
# filtered_df=pb.create_season(filtered_df)
# filtered_df=pb.fix_sex(filtered_df)
# filtered_df=pb.fix_age(filtered_df)
# final_df=pb.fix_time(filtered_df)

In [315]:
def extract_month(date):
    # import re
    # Use regex to extract only the letters
    letters_only = re.findall("[a-zA-Z]+", date)
    # Join the extracted letters into a single string
    month = ''.join(letters_only)
    return month
filtered_df['month']=filtered_df['date'].apply(extract_month)
def check_season(month): 
    q1=['Jan','Feb','Mar']
    q2=['Apr','May','Jun']
    q3=['Jul','Aug','Sep']
    q4=['Oct','Nov','Dec']
    if month in q1:
        season='q1'
    elif month in q2:
        season='q2'
    elif month in q3:
        season='q3'
    elif month in q4:
        season='q4'
    else:
        season="not sure"
    return season 
filtered_df['season']=filtered_df['month'].apply(check_season)


# format column sex
filtered_df[['sex']]=filtered_df[['sex']].fillna("N")
filtered_df['sex']=filtered_df['sex'].str.replace(" ","")

# In column "age" --> StÃ©phanie
# Define the function to categorize age groups
def set_age_group(x):
    if x == 0:
        return 'Unknown'
    elif x <= 12:
        return 'Child'
    elif x <= 18:
        return 'Teen'
    elif x <= 60:
        return 'Adult'
    elif x > 60:
        return 'Senior'
    else:
        return 'Unknown'

filtered_df['age_0'] = filtered_df['age'].apply(lambda x:int(x) if str(x).strip().replace(".","").isdecimal() else 0)
str(filtered_df['age'][0]).strip().replace(".","").isdecimal()
# filtered_df[filtered_df['age_0']==0]['age'].value_counts().values.sum()
#Seulement 132 valeurs "funky" donc NS =>change it to median 
# Format column age
filtered_df['age'] = pd.to_numeric(filtered_df['age'], errors='coerce')
# Calculate the median age
median_age = filtered_df['age'].median()
print("Median age:", median_age)
# Replace '0' values with the median age
filtered_df['age_0'] = filtered_df['age_0'].replace(0, median_age, inplace=False)
# Apply the age group function to create the 'agegroup' column
filtered_df['age_group'] = filtered_df['age_0'].apply(set_age_group)


# In column "time" --> Kranta
def set_time_group(x):
    if x <=6:
# == [7,8,9,10,11,12]
        return 'Night'
    elif x <=12:
# ==[13,14,15,16,17,18]
        return 'Morning'
    elif x <= 18:
#  [19,20,21,22,23,00]
        return 'Afternoon'
    elif x <=23 :
# [1,2,3,4,5,6]
        return 'Evening'
    else:
        return "Unknown"
    

filtered_df["time"].value_counts().sort_values(ascending=False)
filtered_df["time"] = filtered_df["time"].str.strip()

filtered_df["time"] = filtered_df["time"].str.replace('[^a-zA-Z0-9 ]', '', regex=True)

filtered_df['time']= filtered_df['time'].fillna("Unknown")

filtered_df["time_split"] = filtered_df["time"].str.split('h')

filtered_df["time_split_h"] = filtered_df['time_split'].apply(lambda x:x[0])

filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('1600',"16")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('0500',"5")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('0830',"8")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('0830',"8")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('0830',"8")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Early Morning',"8")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Morning',"8")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Afternoon',"14")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Late afternoon',"14")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Midday',"12")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Early afternoon',"14")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Sunset',"18")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('AM',"10")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('After noon',"14")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Sometime between 06h00  08hoo',"06")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Shortly before 12h00',"11")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Midnight',"01")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('10j30',"10")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Just before noon',"11")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('10jh45',"11")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Just before noon',"11")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Early  morning',"11")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Dusk',"04")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Dawn',"19")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Before 10h00',"09")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Early morning',"6")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Nig',"20")
filtered_df['time_split_h'] = filtered_df['time_split_h'].replace('Evening',"17")

filtered_df['time_split_h_int'] = filtered_df['time_split_h'].apply(lambda x:int(x) if str(x).isdigit() else 26)
filtered_df

filtered_df['time_group'] = filtered_df['time_split_h_int'].apply(set_time_group)

Median age: 30.0

In [316]:
display(filtered_df)
display(filtered_df.columns)

,date,year,type,country,state,location,activity,sex,age,injury,...,species,country_clean,month,season,age_0,age_group,time_split,time_split_h,time_split_h_int,time_group
0,14Feb2024,2024,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,32.0,Calf of lower left leg injured,...,"Bull shark, 7'",india,Feb,q1,32,Adult,[Unknown],Unknown,26,Unknown
1,04Feb2024,2024,Provoked,TRINIDAD,NaN,NaN,Spearfishing,M,NaN,Shoulder bitten,...,Blacktip reef shark,trinidad and tobago,Feb,q1,30,Adult,"[06, 30]",06,6,Night
2,29Jan2024,2024,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,F,29.0,Right leg bitten,...,Bull shark,australia,Jan,q1,29,Adult,"[20, 00]",20,20,Evening
3,15Jan2024,2024,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,M,10.0,Right leg injured,...,NaN,bahamas,Jan,q1,10,Child,"[16, 00]",16,16,Afternoon
4,09Jan2024,2024,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,M,64.0,Leg bitten,...,White shark,australia,Jan,q1,64,Senior,"[13, 00]",13,13,Afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,09Jan2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,NaN,F,NaN,Minor injuries,...,NaN,united states,Jan,q1,30,Adult,[Unknown],Unknown,26,Unknown
1664,09Jan2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,NaN,M,NaN,Right wrist bitten,...,NaN,united states,Jan,q1,30,Adult,"[17, 00]",17,17,Afternoon
1665,09Jan2010,2010,Unprovoked,VIETNAM,Binh Dinh Province,Quy Nhon,Bathing,M,NaN,Left arm bitten twice,...,NaN,united states,Jan,q1,30,Adult,"[06, 45]",06,6,Night
1666,06Jan2010,2010,Unprovoked,USA,Florida,Elliot Key,Spearfishing,M,32.0,Lacerations to arm,...,NaN,united states,Jan,q1,32,Adult,"[10, 15]",10,10,Morning
1667,05Jan2010,2010,Unprovoked,SOUTH AFRICA,Eastern Province,"Nahoon, East London",Surfing,M,NaN,"No injury, reportedly knocked of his board by ...",...,NaN,united states,Jan,q1,30,Adult,[Unknown],Unknown,26,Unknown

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'sex', 'age', 'injury', 'time', 'species', 'country_clean', 'month',
       'season', 'age_0', 'age_group', 'time_split', 'time_split_h',
       'time_split_h_int', 'time_group'],
      dtype='object')

In [317]:
columns_to_drop = ['country', 'age', 'time_split', 'time_split_h','time_split_h_int']
final_df=filtered_df.drop(columns_to_drop, axis=1)

In [318]:
final_df

,date,year,type,state,location,activity,sex,injury,time,species,country_clean,month,season,age_0,age_group,time_group
0,14Feb2024,2024,Unprovoked,Maharashtra,"Vaitarna River, Palghar District",Fishing,M,Calf of lower left leg injured,Unknown,"Bull shark, 7'",india,Feb,q1,32,Adult,Unknown
1,04Feb2024,2024,Provoked,NaN,NaN,Spearfishing,M,Shoulder bitten,06h30,Blacktip reef shark,trinidad and tobago,Feb,q1,30,Adult,Night
2,29Jan2024,2024,Unprovoked,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,F,Right leg bitten,20h00,Bull shark,australia,Jan,q1,29,Adult,Evening
3,15Jan2024,2024,Unprovoked,Paradise Island,Paradise Island Resort,Swimming,M,Right leg injured,16h00,NaN,bahamas,Jan,q1,10,Child,Afternoon
4,09Jan2024,2024,Unprovoked,South Australia,"Walkers Beach, Elliston",Surfing,M,Leg bitten,13h00,White shark,australia,Jan,q1,64,Senior,Afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,09Jan2010,2010,Unprovoked,Binh Dinh Province,Quy Nhon,NaN,F,Minor injuries,Unknown,NaN,united states,Jan,q1,30,Adult,Unknown
1664,09Jan2010,2010,Unprovoked,Binh Dinh Province,Quy Nhon,NaN,M,Right wrist bitten,17h00,NaN,united states,Jan,q1,30,Adult,Afternoon
1665,09Jan2010,2010,Unprovoked,Binh Dinh Province,Quy Nhon,Bathing,M,Left arm bitten twice,06h45,NaN,united states,Jan,q1,30,Adult,Night
1666,06Jan2010,2010,Unprovoked,Florida,Elliot Key,Spearfishing,M,Lacerations to arm,10h15,NaN,united states,Jan,q1,32,Adult,Morning
1667,05Jan2010,2010,Unprovoked,Eastern Province,"Nahoon, East London",Surfing,M,"No injury, reportedly knocked of his board by ...",Unknown,NaN,united states,Jan,q1,30,Adult,Unknown

In [320]:
final_df.to_excel('data_clean.xlsx', index=False)